<.header>
  New Metric
  <:subtitle>Use this form to manage metric records in your database.</:subtitle>
</.header>

<.metric_form changeset={@changeset} action={~p"/metrics"} />

<.back navigate={~p"/metrics"}>Back to metrics</.back>
